<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="header">
                        <h3>Registered user: </h3>
                        <p>User email: </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from "axios";
import Vue from "vue";
import VueCookie from "vue-cookie";

export default {
    name: "UserData",
    data() {
        return {
        }
    },
    mounted() {
        this.loadUserData()
        this.loadUserOperations()
        const cookieValue = this.getCookie('BEARER-TOKEN')
            // ?.split('=')[1];
        // window.axios.defaults.headers.common['Bearer '] = Vue.cookie.get('token') ? '' : Vue.cookie.get('token');
        console.log(cookieValue, document.cookie)
    },
     methods: {
        loadUserData() {

        },
         loadUserOperations() {

         },
         getCookie(name) {
            let matches = document.cookie.match(new RegExp(
                "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
            ));
            return matches ? decodeURIComponent(matches[1]) : undefined;
        }
     }
}
</script>

<style lang="scss" scoped>

</style>
